In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('processed_data/backup/master_data-Copy8.csv')

In [4]:
len(df)

60206

In [5]:
df.head()

,Unnamed: 0,created_at,text,user_followers_count,retweet_count,favorite_count,hashtags
0,0,2016-12-29,Happy birthday to say you when I see you (here...,36.0,0,0.0,[]
1,7,2016-12-29,"I can smile, and its not. I have people that m...",1376.0,0,0.0,[]
2,11,2016-12-29,luh HAHAHAHAHAHAHA,124.0,0,0.0,[]
3,16,2016-12-29,@Baelizean word?,3628.0,0,0.0,[]
4,17,2016-12-29,GURUS Invoke Lack Of Trust. We Are Here To Pro...,2574.0,0,0.0,"[{'text': 'trust', 'indices': [51, 57]}, {'tex..."

In [6]:
df['created_at'].unique()

array(['2016-12-29', '7759', '699', '157', nan, '1246', '712', '122',
       '2069', '86', '1209', '1497', '452'], dtype=object)

In [9]:
#df.loc[df.text.str.contains('trump')]
df = df[df['text'].notna()]
temp = df[df['text'].str.contains("maga")]

In [11]:
temp['text']

2256     Wtf kapa dyan , alam ko po nabasa ko \nEh ayaw...
2608     TV Guide magazine Before they were Movie Stars...
6968     #TeamBTS pero di ko to pagsisisihan kasi eto a...
8126     RT @SickboyT2: Begbie out of prison, having a ...
8976     Mahal mo sya?pero parang ikaw gumagawa ng dahi...
9612     RT @HeneralHugot: Kahit gusto mo siyang ipagla...
9899     RT @Umaganesh1989: Tamilanin unaravu\n\nWE NEE...
10995    Get featured on the BEST online music magazine...
13251    RT @iiamjane27: Sana araw-araw nalang tayong o...
14447    GUCCI by GUCCI Eau de Parfum https://t.co/r0lV...
15267    RT @belt_magazine: who designs our books? take...
15269    RT @rodmagaru: BEST PRODUCTION DESIGN - SEKLUS...
16450                   ano po magandang panoorin huhu pls
17341    It's good your listening @OfficialSPGB because...
18270    #finnish nude girl magazine asian women fuckin...
18652    RT @ARYNEWSOFFICIAL: #Petition seeks suspensio...
18867    RT @BARBIEAklan: Hindi kawawa si Dolly ang mga...
20084    people magazine "the day that shook america" S...
21947    #Gohmert on Hannity "Announces Bill to Defund ...
23375    Might be in paris to shoot for magazine.If the...
26545    Christian Pastor to President Obama:\n\nhttps:...
31150    US acting as global policeman for financial cr...
33978    RT @outmagazine: The Love Portfolio: @guskenwo...
34109    RT @voguemagazine: The Internet mourns to the ...
34558    RT @MFEmagazine: Apartment investment interest...
38828    @Amanda__Gee @magandacarta they have the drive...
39067    @felixsalmon @WesleyLowery if ISIS had a good ...
41645    RT @ShareeefAF: Ugly hun, magar tmari tarah ch...
42255                lahat maganda https://t.co/zlJrAj42Uf
43911    Do you have a mixtape/single you would like fe...
44295    pahinga na muna tayo salubungin naman natin an...
44801               Umaga tulog\nGabi gising\nAba magaleng
44843    Reflections from 2016: Part 2 with Fashion Ove...
45639    @psycho_soprano especially teenagers, literall...
45968    How The New Collaborative Economy Is Changing ...
48096    My Burberry Eau de Parfum Miniature Perfume ht...
50053    Pentagon told to boost manufacturing engineeri...
54435    RT @voguemagazine: Congratulations, @serenawil...
54644    @camerondallas new show #chasingCameron has re...
55981     RT @itsgummagazine: 2017 https://t.co/4LBYLEDtOO
57184    The Way Back - Comstock's magazine https://t.c...
Name: text, dtype: object